/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* line 9, C:/xampp/htdocs/WebReservaCasa/css/sass/style.scss */
.icon-block {
  padding: 0 15px; }

/* line 13, C:/xampp/htdocs/WebReservaCasa/css/sass/style.scss */
.slider-600 {
  height: 600px; }

/* line 17, C:/xampp/htdocs/WebReservaCasa/css/sass/style.scss */
.slider-600 ul.slides-600 {
  height: 560px; }
