@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/flex";

.icon-block {
  padding: 0 15px;
}

.slider-600{
	height: 500px;
}

.slider-600 ul.slides-600{
	height: 500px;
}

.indicators{
	top: 102%;
}

.flexbox {
	@include flexbox;
}

.flexbox-center {
	@include justify-content(center);
}